// color
$main-white: #fafafa;
$main-black: #333;
$main-border-color: #dfe0e2;
$secondary-white: #fff;

// viewports
$xs: 375px;
$sm: 568px;
$md: 768px;
$xl: 1200px;

//fonts
$main-font-family: 'Space Mono', sans-serif;
$font-color-black: #333;
